@font-face {
  font-family: "GothamPro";
  src: url("../fonts/Gotham/GothaProMed.otf"); }
@font-face {
  font-family: "GothamProLight";
  src: url("../fonts/Gotham/GothaProLig.otf"); }
@font-face {
  font-family: "GothamProBold";
  src: url("../fonts/Gotham/GothaProBla.otf"); }
@font-face {
  font-family: "GothamProSemiBold";
  src: url("../fonts/Gotham/GothaProBol.otf"); }
@font-face {
  font-family: "BebasRegular";
  src: url("../fonts/bebas/BebasNeueBook.otf"); }
@font-face {
  font-family: "BebasMedium";
  src: url("../fonts/bebas/BebasNeueRegular.otf"); }
@font-face {
  font-family: "BebasBold";
  src: url("../fonts/bebas/TTF's/BebasNeue Bold.ttf"); }
.unique {
  background-color: black; }
  .unique span {
    color: #959595;
    font-size: 11px;
    opacity: 0.5; }
  .unique .logo {
    -webkit-transform: translate(-50px, 0);
    -moz-transform: translate(-50px, 0);
    -ms-transform: translate(-50px, 0);
    -o-transform: translate(-50px, 0);
    transform: translate(-50px, 0); }
  .unique h2 {
    letter-spacing: 1.5px; }
  .unique h3 {
    letter-spacing: 4px; }
  .unique .near-number {
    -webkit-transform: translate(-50px, 0);
    -moz-transform: translate(-50px, 0);
    -ms-transform: translate(-50px, 0);
    -o-transform: translate(-50px, 0);
    transform: translate(-50px, 0); }
  .unique .wrapper {
    width: auto;
    height: auto; }
  .unique .circle {
    width: 8px;
    height: 18px;
    background: transparent;
    border-radius: 100px;
    position: relative; }
  .unique h5 {
    color: #8ffcfe;
    font-size: 12px;
    position: absolute;
    top: 40%;
    left: -30%;
    margin: 0;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg); }
  .unique .vertical-line {
    width: 2px;
    height: 21px;
    background: #8ffcfe;
    margin: 20px auto 0 auto; }
  .unique .browser {
    background-image: url("../img/bg-browser.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 111% 111%;
    padding: 50px;
    letter-spacing: 1.1px; }
  .unique .browser-back {
    height: 728px;
    width: 738px;
    bottom: -34px;
    right: -67px;
    z-index: -2; }

.magic .text-above {
  font-family: Bebas;
  font-size: 25px;
  line-height: 1.2;
  color: #312e32; }
.magic .text-above-move {
  -webkit-transform: translate(-45px, -8px);
  -moz-transform: translate(-45px, -8px);
  -ms-transform: translate(-45px, -8px);
  -o-transform: translate(-45px, -8px);
  transform: translate(-45px, -8px); }
.magic .blue-line {
  border-left: 3px solid #19e2f0;
  padding-left: 10px; }
.magic .btn-magic {
  width: 50%; }

.not-easy .page-title {
  color: black; }
.not-easy .page-title-heading {
  padding-top: 120px;
  margin-bottom: 170px; }
.not-easy .page-subheading {
  font-family: Bebas;
  font-size: 28px;
  text-align: center;
  color: #312e32;
  margin-top: 70px; }
.not-easy p {
  font-family: Bebas;
  font-size: 21px;
  text-align: center;
  color: #312e32;
  margin-top: 20px;
  line-height: 1.2;
  padding-bottom: 150px; }
.not-easy .images img {
  width: 82px; }

.GSB {
  font-family: GothamProSemiBold; }

.GL {
  font-family: GothamProLight; }

.GM {
  font-family: GothamPro; }

.GB {
  font-family: GothamProBold; }

.BR {
  font-family: BebasRegular; }

.BB {
  font-family: BebasBold; }

.BM {
  font-family: BebasMedium; }

.speaker {
  background-color: black; }
  .speaker .speaker-card {
    background-color: #292929;
    width: 240px;
    height: 370px; }
    .speaker .speaker-card .speaker-img {
      width: 120px; }
  .speaker .card-heading, .speaker .card-subheading {
    color: #fffbfb; }
  .speaker .card-heading {
    font-size: 22px;
    font-family: BebasMedium;
    line-height: 1.2;
    text-transform: uppercase; }
  .speaker .card-subheading {
    font-size: 12px;
    font-family: GothamPro; }
  .speaker .flag {
    width: 40px;
    top: 15px;
    right: 0; }
  .speaker .blue-dots {
    color: #19e2f0;
    font-size: 7px;
    margin-top: 45px; }

.know img {
  margin-bottom: 20px;
  max-height: 120px;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.title-know {
  background-image: url("../img/title.bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80% 90%;
  padding: 50px 0; }

.z-11 {
  z-index: 11; }

.dollar .row-b {
  margin-top: -40px; }
.dollar p {
  position: relative;
  padding-left: 40px; }
  .dollar p span {
    font-size: 16px;
    font-family: GothamProSemiBold;
    line-height: 1.24;
    color: #1ce3f0;
    position: absolute;
    left: 0;
    top: 10px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }
.dollar .ss-text span {
  font-size: 24px;
  color: #58e9f2;
  font-family: GothamProBold; }

header {
  background-image: url("../img/head.bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; }
  header .date span {
    position: absolute;
    font-family: GothamPro;
    font-size: 30px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  header .img-head {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }

.price {
  background-image: url("../img/pricebg.png");
  background-position: center;
  background-color: black; }
  .price .option {
    background-color: #00e6f2;
    font-size: 33px;
    font-family: GothamProBold;
    padding: 12px 0;
    text-align: center;
    display: block;
    line-height: 33px;
    margin: auto; }
  .price .col-md-5 .d-flex {
    margin-bottom: 25px; }
  .price p {
    font-family: GothamProLight;
    font-size: 16px;
    line-height: 1.7;
    text-align: left;
    color: #ffffff;
    margin: 0; }
  .price img {
    filter: brightness(0) invert(1); }
  .price .blue-border {
    border: 3px dotted #00e6f2;
    border-radius: 10px; }

.imagine {
  padding: 100px 0 0; }
  .imagine .img-circle {
    position: absolute;
    bottom: 50px;
    right: 5%; }
  .imagine h3 {
    font-size: 75px;
    line-height: 1.33; }
  .imagine p {
    font-family: GothamProLight;
    font-size: 20px;
    line-height: 1.33;
    color: #000000; }
  .imagine span {
    font-size: 25px; }
  .imagine .dot-border {
    border-bottom: 4px dotted black;
    margin: 70px 0 40px; }
  .imagine .text {
    font-size: 20px;
    line-height: 0.93;
    font-family: GothamProBold;
    color: #000000;
    display: block;
    height: 110px;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 20px 30px;
    margin-bottom: 11px; }
    .imagine .text-1 {
      background-image: url("../img/word-right2.png");
      text-align: right;
      background-position: right center; }
    .imagine .text-2 {
      background-image: url("../img/word-left2.png"); }
    .imagine .text-3 {
      background-image: url("../img/word-right2.png");
      text-align: right;
      background-position: right center; }
    .imagine .text-4 {
      background-image: url("../img/word-left1.png"); }
    .imagine .text-5 {
      background-image: url("../img/word-right1.png");
      text-align: right;
      background-position: right center; }
  .imagine .col-md-7 {
    background-image: url("../img/speedometer.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain; }

.bg-gold {
  background-color: #d0b67c; }

.img-margin {
  margin-top: -6%; }

.contact-form {
  box-shadow: 0 0 57px 0 rgba(0, 0, 0, 0.07); }
  .contact-form p {
    font-family: GothamPro;
    font-size: 12px;
    color: rgba(23, 23, 23, 0.7);
    margin-bottom: 0; }
  .contact-form input {
    padding: 10px;
    border: 0;
    border-bottom: 1px solid #d1d1d1;
    margin-bottom: 16px;
    width: 100%;
    border-radius: 0;
    outline: none !important;
    font-family: GothamPro;
    color: black !important;
    font-size: 12px; }

.ph-40 {
  font-size: 40px; }

.ph-36 {
  font-size: 36px; }

.ph-20 {
  font-size: 20px; }

.ph-50 {
  font-size: 50px; }

.ph-80 {
  font-size: 80px; }

.ph-29 {
  font-size: 29px; }

.ph-13 {
  font-size: 13px; }

.img-coin {
  position: absolute;
  top: -10px;
  left: 18px; }

.btn-primary {
  background: #00dded;
  background: -moz-linear-gradient(left, #00dded 0%, #8ffcfe 100%);
  background: -webkit-linear-gradient(left, #00dded 0%, #8ffcfe 100%);
  background: -o-linear-gradient(left, #00dded 0%, #8ffcfe 100%);
  background: -ms-linear-gradient(left, #00dded 0%, #8ffcfe 100%);
  background: linear-gradient(to right, #00dded 0%, #8ffcfe 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00dded', endColorstr='#8ffcfe', GradientType=1 );
  border: none;
  border-radius: 100px;
  padding: 20px 30px;
  line-height: 1;
  font-family: GothamPro;
  font-size: 16px;
  color: #000000;
  box-shadow: 0 0 43px 0 rgba(27, 227, 240, 0.56);
  text-transform: uppercase; }

footer, section {
  padding: 50px 0; }

footer {
  background-color: black; }
  footer .date {
    font-size: 90px;
    line-height: 70px; }
    footer .date span {
      line-height: 1;
      font-size: 25px; }
  footer .year {
    font-size: 40px; }
  footer .round-border {
    width: 60px;
    height: 60px;
    border: solid 2px #a2a2a2;
    border-radius: 100px;
    text-align: center;
    line-height: 50px; }
  footer .p-dark {
    color: rgba(73, 73, 73, 0.7); }

/*# sourceMappingURL=main.css.map */
